<mat-drawer-container style="height: 100%;">
	<mat-drawer mode="side" opened>
    	<mat-list>
      		<mat-list-item>
        	<h2>{{title}}</h2>
			  </mat-list-item>
			<a routerLink="/employees">
				<mat-list-item>
					<mat-icon aria-hidden="false" aria-label="Example home icon">perm_contact_calendar</mat-icon>
					Employees
				</mat-list-item>
			</a>
			<a routerLink="/employees/present">
				<mat-list-item>
					<mat-icon aria-hidden="false" aria-label="Example home icon">where_to_vote</mat-icon>
					Presence
				</mat-list-item>
			</a>
			<a routerLink="/settings">
				<mat-list-item>
					<mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon>
					Settings
				</mat-list-item>
			</a>
     	</mat-list>
  	</mat-drawer>
	<mat-drawer-content>
		<router-outlet></router-outlet>
	</mat-drawer-content>
</mat-drawer-container>
