<mat-drawer-container style="height: 100%;">
	<mat-drawer mode="side" opened>
    	<mat-list>
			<a routerLink="/employees">
				<div id="logo">
					<div>
						<mat-icon aria-hidden="false" aria-label="Example home icon" >schedule</mat-icon><br>
					</div>
					<div id="title">{{title}}</div>
					<div class="underline accent-color"></div>
				</div>
			</a>
			<a routerLink="/employees">
				<mat-list-item>
					<mat-icon aria-hidden="false" aria-label="Example home icon">perm_contact_calendar</mat-icon>
					<div class="separator"></div>
					<div>Employees</div>
				</mat-list-item>
			</a>
			<a routerLink="/employees/present">
				<mat-list-item>
					<mat-icon aria-hidden="false" aria-label="Example home icon">beenhere</mat-icon>
					<div class="separator"></div>
					<div>Presence</div>
				</mat-list-item>
			</a>
			<a routerLink="/settings">
				<mat-list-item>
					<mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon>
					<div class="separator"></div>
					<div>Settings</div>
				</mat-list-item>
			</a>
     	</mat-list>
	  </mat-drawer>
	<mat-drawer-content>
		<router-outlet></router-outlet>
	</mat-drawer-content>
</mat-drawer-container>
