/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.accent-color {
    /* background-color: #2ea3f2 !important; */
    background-color: #039be5;
    color: white;
}

.accent-text {
    color: #039be5;
    text-decoration: none;
}

.error-snackbar {
    background-color: #B00020;
    color: white;
}

.error-snackbar .mat-simple-snackbar-action  {
    color: white;
}

.success-snackbar {
    background-color: #4caf50;
    color: black;
}

.success-snackbar .mat-simple-snackbar-action  {
    color: black;
}

.mat-focused .mat-form-field-label {
    color: #039be5 !important;
}

.mat-form-field-underline {
    background-color: grey !important;
}

.mat-form-field-ripple {
    background-color: black !important;
    height: 1px !important;
}